<ion-header>
  <ion-toolbar>
    <ion-title>Withdraw Request</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="false" class="leave-section">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="login-box">
          <p>Make Withdraw Request</p>
          <form>
            <ion-list>
              <ion-label color="secondary" class="ion-margin-bottom label-request">Fill Your Request Withdraw Amount
              </ion-label>
              <ion-item class="login-input">
                <ion-input placeholder="amout"></ion-input>
              </ion-item>
              <ion-button shape="round" type="submit" color="secondary" expand="block">Submit</ion-button>
            </ion-list>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>