<!-- <ion-header>
  <ion-toolbar style="--background: transparent;">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="top-header">
    <div *ngIf="!otpdiv">
      <div class="logo">
        <img src="/assets/images/login-image.svg" class="centerIMG" />
      </div>
      <p style="font-size: 25px;" class="para-text ion-text-center">Sign In <span>with mobile no.</span></p>
      <ion-label class="ion-padding-left">Name</ion-label>
      <ion-item class="input ion-margin-vertical" lines="none">
        <ion-input type="text" placeholder="Enter your name" [(ngModel)]="name" (ionBlur)="blurName($event)"></ion-input>
        <ion-icon name="checkmark-circle" color="success" *ngIf="nameCheck"></ion-icon>
      </ion-item>
      <ion-label class="ion-padding-left">Mobile No.</ion-label>
      <ion-item class="input ion-margin-vertical" lines="none" style="--padding-start: 0px !important;">
        <div class="country-code">{{country_code}}</div>
        <ion-input type="tel" placeholder="Enter your mobile no." minlength="10" maxlength="10" [(ngModel)]="mobile" (ionInput)="blurMobile($event)" style="--padding-start: 5px !important;"></ion-input>
        <ion-icon name="checkmark-circle" color="success" *ngIf="mobileCheck"></ion-icon>
      </ion-item>
      <ion-row>
        <ion-col class="ion-margin-top ion-no-padding">
          <ion-button expand="block" (click)="onNext()" [disabled]="!mobileCheck" shape="round" color="secondary-primary">Next</ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col class="ion-text-center ion-margin-top">
          <p class="extra-text">Don't have an account? <span routerLink="/register"><u>Register Here</u></span></p>
        </ion-col>
      </ion-row> -->
    </div>

    <div *ngIf="otpdiv">
      <div class="logo">
        <img src="/assets/images/otp-image.svg" class="centerIMG" />
      </div>
      <h4 class="header-otp">We have sent an OTP to your Mobile</h4>
      <h5 class="header-otp-label">Please check your entered mobile no.</h5>
      <ion-row text-center>
        <ion-col class="ion-text-center" style="font-size: 28px;">
          <ion-input class="otp-input" #otp1 required maxLength="1" (keyup)="otpController($event,otp2,'')" [(ngModel)]="opt1" type="tel">
          </ion-input>
          <ion-input class="otp-input" #otp2 required maxLength="1" (keyup)="otpController($event,otp3,otp1)" [(ngModel)]="opt2" type="tel">
          </ion-input>
          <ion-input class="otp-input" #otp3 required maxLength="1" (keyup)="otpController($event,otp4,otp2)" [(ngModel)]="opt3" type="tel">
          </ion-input>
          <ion-input class="otp-input" #otp4  required maxLength="1" (keyup)="otpController($event,otp5,otp3)" [(ngModel)]="opt4" type="tel">
          </ion-input>
          <ion-input class="otp-input" #otp5  required maxLength="1" (keyup)="otpController($event,'',otp4)" style="display: none;" type="tel">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button type="submit" expand="block" (click)="OTPVerify()" shape="round" color="secondary-primary">Verify</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center" (click)="onResendOTP()">
          <p class="extra-text">Didn't Receive? <span>Resend OTP</span></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-top">
          <p class="extra-text">Back to <span (click)="otpdiv = false"><u>Login</u></span></p>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
